In [252]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

In [1]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [2]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [210]:
#Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?
#Format: A floating number
#Example answer:
#11.547

In [254]:
########## Q1
#Your code here
#filter columns required
full=df[["Make", "CO2 Emission Grams/Mile"]]
#filter by brand
vw=full[full["Make"] == "Volkswagen"]

#get the mean fo the data
print(vw.mean(numeric_only=True))

#Example answer:
answer_dict["Q1"] =  392.741721

CO2 Emission Grams/Mile    392.741721
dtype: float64

In [ ]:
#Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
#NOTE: Consider only the name of the models and their brand, that is use only the Make and Model columns
#Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#Hint: You can use the pandas df.values.tolist() function to format your answer.

In [233]:
########## Q2

#remove duplicate make model
make_model=df[['Make', 'Model']].drop_duplicates()

#count unique models, sort by asc and get 5 largest
count_unique=make_model.groupby('Make')['Model'].nunique().nlargest(5).sort_values(ascending=True).reset_index()

#output values as list
print(count_unique.values.tolist())

answer_dict["Q2"] =  [['GMC', 163], ['Ford', 185], ['Chevrolet', 253], ['BMW', 284], ['Mercedes-Benz', 333]]

[['GMC', 163], ['Ford', 185], ['Chevrolet', 253], ['BMW', 284], ['Mercedes-Benz', 333]]

In [235]:
########## Q3

#get unique fuel types
typesoffuel=df["Fuel Type"].unique()
print(sorted(typesoffuel))

#Example answer:
answer_dict["Q3"] =  ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

In [ ]:
#Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values (see example).

In [ ]:
#Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units
#Example answer:
# [['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
# ['FJ8c Post Office', 2003, -6.407431084026927],
# ['Post Office DJ5 2WD', 2005, -6.391684618442447],
# ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
# ['Camry CNG', 2012, 2.677633075759575],
# ['Sierra 1500 4WD', 2005, 2.677633075759575],
# ['Sierra 1500 4WD', 2001, 2.677633075759575],
# ['V15 Suburban 4WD', 1988, 2.677633075759575],
# ['V15 Suburban 4WD', 1987, 2.677633075759575]]

In [232]:
########## Q4
#Your code here
#toyotamodels=df["Make"] =="Volkswagen" & df[["Model", "Year", "Fuel Barrels/Year"]]

import scipy.stats as stats
#columns=df[["Make","Model", "Year", "Fuel Barrels/Year"]]
#toyotamodels=columns[columns["Make"] == "Toyota"]
#model_year_fuel=toyotamodels[["Model", "Year", "Fuel Barrels/Year"]]
#zscore=model_year_fuel["Fuel Barrels/Year/zscore"] = stats.zscore(model_year_fuel['Fuel Barrels/Year'])

columns=df[["Make","Model", "Year", 'Fuel Barrels/Year']]
toyotamodels=columns[columns["Make"] == "Toyota"]
model_year_fuel=toyotamodels[["Model", "Year",'Fuel Barrels/Year']]

#remove duplicates to have unique models
rmdup=model_year_fuel.drop_duplicates(['Model'],keep='first')
#print(rmdup)

#sort by largest
sort_asc=rmdup.sort_values(['Fuel Barrels/Year'], ascending=(False))
print(sort_asc.head(9))

#get the nlargest by fuel barrels
#B.transform('std')
#grouped_models=model_year_fuel.groupby(['Model','Year']).Fuel Barrels/Year.transform('std')
#grouped_models=model_year_fuel.groupby('Model')['Fuel Barrels/Year'].nlargest(9)
#print(grouped_models)


#get z-score
#zscore=rmdup['zscore']=zscore(rmdup['Fuel Barrels/Year'])
#zscore=sort_asc["zscore"] = stats.zscore(toyotamodels['Fuel Barrels/Year'])
#zscore=model_year_fuel['Fuel Barrels/Year'].std(axis=1) 

#zscore=model_year_fuel["Fuel Barrels/Year/zscore"] = stats.zscore(toyotamodels['Fuel Barrels/Year'])
#print(zscore)

#zscore_fuelbarrels=model_year_fuel['zscore'] = stats.zcore(model_year_fuel["Fuel Barrels/Year"])
#zscore_fuelbarrels=stats.zscore(model_year_fuel['Fuel Barrels/Year'])
#print(zscore_fuelbarrels)
#extreme_fuel=
#print(model_year_fuel)


#zscore=model_year_fuel["Fuel Barrels/Year/zscore"] = stats.zscore(toyotamodels['Fuel Barrels/Year'])
#answer_dict["Q4"] =

                        Model  Year  Fuel Barrels/Year
33102  Land Cruiser Wagon 4WD  1984          29.964545
32467             Cab/Chassis  1986          27.467500
32469         Cab/Chassis 2WD  1987          27.467500
33548                T100 4WD  1994          23.543571
33396             Sequoia 2WD  2001          23.543571
33417             Sequoia 4WD  2001          23.543571
33439         Sequoia 4WD FFV  2010          23.543571
33990          Tundra 2WD FFV  2016          21.974000
34032          Tundra 4WD FFV  2010          21.974000

In [ ]:
#Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.
#Format: A 19X3 list, with the Year and Combined MPG being of type integer and only the calculated difference is of type float
#Note: The value for the first model should be 0. It does not matter that there are gaps in the years, calculate with respect the previous model.
#Example answer:
# [[1986, 25, 0.0],
# [1987, 25, 0.0],
# [1988, 25, 0.0],
# [1989, 25, 0.0],
# [1990, 23, -2.0],
# [1991, 23, 0.0],
# [1992, 24, 1.0],
# [1993, 25, 1.0],
# [1994, 25, 0.0],
# [1995, 25, 0.0],
# [1996, 25, 0.0],
# [1997, 25, 0.0],
# [1998, 24, -1.0],
# [1999, 25, 1.0],
# [2000, 24, -1.0],
# [2001, 24, 0.0],
# [2002, 24, 0.0],
# [2004, 24, 0.0],
# [2006, 24, 0.0]]

In [236]:
########## Q5
#Your code here
columns=df.loc[(df['Model'] =="Golf") & (df["Transmission"] =="Manual 5-spd") & (df["Fuel Type"] =="Regular"), ['Year','Combined MPG']]
sort_asc=columns.sort_values('Year',ascending=True)
result=sort_asc['mpg_diff'] = sort_asc['Combined MPG'].diff().fillna(0)
print(sort_asc.values.tolist())

answer_dict["Q5"] = [[1986.0, 26.0, 0.0], [1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]]

[[1986.0, 26.0, 0.0], [1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]]

In [ ]:
#Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda
#Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).
#Example answer:
#[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
# ['Ford',
#  100.025641025641,
#  200.677633075759575,
#  200.677633075759575,
#  200.677633075759575,
#  200.677633075759575],
# ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
# ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
# ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]

In [251]:
########## Q6

#Your code here
#filter the C02 Emission value and its Make (Brands) columns from df
brand_emission=df[['Make','Model','CO2 Emission Grams/Mile']]
#print(brand_emission)

#get the specific list of brands (Make) that are required to be filtered
brands=["Toyota", "Ford", "Volkswagen", "Nissan", "Honda"]

#filter the brand list from brand_emission
specific_brands=brand_emission[brand_emission.Make.isin(brands)]
#print(specific_brands)

##ordenar C02 emission de menoar a mayor para encontrar las 5 menos emisiones
sort_asc_top5=specific_brands.sort_values(['Make','CO2 Emission Grams/Mile'], ascending=(True,True))
#print(sort_asc_top5)

#remove duplicate cars
rmdup=sort_asc_top5.drop_duplicates(['Make','CO2 Emission Grams/Mile'],keep='first')
#print(rmdup)

#group by Make Model to have lowest emissions
##last attempet was same as another attempt
grouped=rmdup.groupby(['Make'])['CO2 Emission Grams/Mile'].nsmallest(5)

print(grouped)
answer_dict["Q6"] =[['Toyota',133.000000,158.000000,170.000000,171.000000,177.740000],['Ford',112.000000,129.000000,209.000000,210.000000,211.000000],['Volkswagen',200.000000,261.025641,267.894737,271.000000,275.135135],['Nissan',249.000000,254.000000,254.500000,255.000000,257.000000],['Honda',130.000000,167.679245,170.903846,183.000000,188.000000]]

Make
Ford        13412    112.000000
            11639    129.000000
            13455    209.000000
            13458    210.000000
            13454    211.000000
Honda       17059    130.000000
            17522    167.679245
            17530    170.903846
            17058    183.000000
            17056    188.000000
Nissan      27201    249.000000
            27198    254.000000
            26830    254.500000
            27204    255.000000
            27207    257.000000
Toyota      33281    133.000000
            33279    158.000000
            33277    170.000000
            33278    171.000000
            33271    177.740000
Volkswagen  34664    200.000000
            34714    261.025641
            34383    267.894737
            34642    271.000000
            34474    275.135135
Name: CO2 Emission Grams/Mile, dtype: float64

In [255]:
#Q7. Form 7 groups of 5 years to calculate the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

In [ ]:
#Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and upper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.
#Example answer:
#[[(1984, 1988), 11.0],
# [(1989, 1993), 10.0],
# [(1994, 1998), 10.0],
# [(1999, 2003), 14.0],
# [(2004, 2008), 13.0],
# [(2009, 2013), 14.0],
# [(2014, 2018), 15.0]]

In [449]:
########## Q7
#Your code here
##https://towardsdatascience.com/how-to-group-yearly-data-by-periods-5199a1dba5db
year=1984
#range=year+5
#range=tuple(range(1984))
cols=df[["Year","Combined MPG"]]
years1=year+5
years2=year+4
#df[years1 & years2]
#print(yearscols)
#interval=df.loc[df.Year==pd.Interval(left=1984,right=1988)]
#print(interval)

KeyError: 1988